$base: #2979ff;
$base-sub: #5194e2;

$-main: #ffda1f;
$-sub: #1fa1ff;
$-deep: #ff441f;

$danger: #ff3300;
$waring: #ff9900;
$success: #339900;

$t-light: #fff;
$t-base: #333;
$t-999: #999;
$t-666: #666;
$t-ccc: #ccc;

$b-base: #f2f2f2;
$b-sub: #f4f4f4;
$b-dark: #17181A;
$b-light: #fff;

$border-base: #eee;
